<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-title>Top Stories</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content padding>
        <ion-refresher slot="fixed" [disabled]="!canRefresh()" (ionRefresh)="refresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <app-items [items]="items.results" *ngIf="items"></app-items>
        <ion-infinite-scroll [disabled]="!hasNext()" (ionInfinite)="load($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>
</ion-app>